<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="de.demarks.wms.dao.DetectMapper">

    <resultMap type="de.demarks.wms.domain.DetectDO" id="detectDO">
        <id property="id" column="id"/>
        <result property="goodsID" column="goodsID"/>
        <result property="goodsName" column="goodsName" />
        <result property="batchID" column="batchID"/>
        <result property="batchCode" column="batchCode" />
        <result property="repositoryID" column="repositoryID"/>
        <result property="number" column="number" />
        <result property="passed" column="passed"/>
        <result property="scratch" column="scratch"/>
        <result property="damage" column="damage" />
        <result property="time" column="time"/>
        <result property="personInCharge" column="personInCharge"/>
    </resultMap>

    <select id="selectAll">
        select

        from
            wms_detect d, wms_goods g, wms_repo_batch b

    </select>

    <insert id="insert">
		insert into wms_record_storage
		(
			DETECT_ID,
			DETECT_GOODID,
			DETECT_BATCHID,
			DETECT_REPOSITORYID,
			DETECT_NUMBER,
			DETECT_PASSED,
			DETECT_SCRATCH,
			DETECT_DAMAGE,
			DETECT_TIME,
			DETECT_PERSON
		)
		values
		(
			#{id},
			#{goodsID},
			#{batchID},
			#{repositoryID},
			#{number}
			#{passed},
			#{scratch},
			#{damage},
			#{time},
			#{personInCharge}
		)
	</insert>

</mapper>