<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="de.demarks.wms.dao.PacketStorageMapper">
	
	<resultMap type="de.demarks.wms.domain.PacketStorage" id="packetStorage">
		<id property="packetID" column="preStorage_packetID"/>
		<id property="goodsID" column="preStorage_goodsID" />
		<result property="customerID" column="preStorage_customerID" />
		<result property="repositoryID" column="preStorage_repositoryID"/>
		<result property="packetTrace" column="preStorage_packetTrace"/>
		<result property="packetStatus" column="preStorage_packetStatus" />
		<result property="goodsName" column="preStorage_goodsName"/>
		<result property="customerName" column="preStorage_customerName"/>
		<result property="number" column="preStorage_number"/>
		<result property="storage" column="preStorage_storage" />
	</resultMap>
	
	<select id="selectAll" resultMap="packetStorage">
		select
			ps.PRE_PACKETID as preStorage_packetID,
			ps.PRE_GOODID as preStorage_goodsID,
			ps.PRE_CUSTOMERID as preStorage_customerID,
			ps.PRE_REPOSITORYID as preStorage_repositoryID,
			ps.PRE_NUMBER as preStorage_number,
			ps.PRE_STORAGE as preStorage_storage,
			p.PACKET_TRACE as preStorage_packetTrace,
			p.PACKET_STATUS as preStorage_packetStatus,
			g.GOOD_NAME as preStorage_goodsName,
			cus.CUSTOMER_NAME as preStorage_customerName
		from
			wms_packet_storage ps,wms_packet p, wms_goods g, wms_customer cus, wms_repository r
		where
			ps.PRE_PACKETID = p.PACKET_ID and
			ps.PRE_GOODID =  g.GOOD_ID and
			ps.PRE_CUSTOMERID = cus.CUSTOMER_ID and
			ps.PRE_REPOSITORYID = r.REPO_ID
		<if test="packetID !=null">
			and ps.PRE_PACKETID = #{packetID}
		</if>
		<if test="status !=null">
			and p.PACKET_STATUS = #{status}
		</if>
		<if test="repositoryID !=null">
			and ps.PRE_REPOSITORYID = #{repositoryID}
		</if>
	</select>

	<select id="selectByGoodsID" resultMap="packetStorage">
		select
			ps.PRE_PACKETID as preStorage_packetID,
			ps.PRE_GOODID as preStorage_goodsID,
			ps.PRE_CUSTOMERID as preStorage_customerID,
			ps.PRE_REPOSITORYID as preStorage_repositoryID,
			ps.PRE_NUMBER as preStorage_number,
			ps.PRE_STORAGE as preStorage_storage,
			p.PACKET_TRACE as preStorage_packetTrace,
			p.PACKET_STATUS as preStorage_packetStatus,
			g.GOOD_NAME as preStorage_goodsName,
			cus.CUSTOMER_NAME as preStorage_customerName
		from
			wms_packet_storage ps,wms_packet p, wms_goods g, wms_customer cus, wms_repository r
		where
			ps.PRE_PACKETID = p.PACKET_ID and
			ps.PRE_GOODID =  g.GOOD_ID and
			ps.PRE_CUSTOMERID = cus.CUSTOMER_ID and
			ps.PRE_REPOSITORYID = r.REPO_ID
		<if test="goodsID !=null">
			and ps.PRE_GOODID = #{goodsID}
		</if>
		<if test="packetID !=null">
			and ps.PRE_PACKETID = #{packetID}
		</if>
		<if test="repositoryID !=null">
			and ps.PRE_REPOSITORYID = #{repositoryID}
		</if>
	</select>

    <select id="selectApproximate" resultMap="packetStorage">
		select
			ps.PRE_PACKETID as preStorage_packetID,
			ps.PRE_GOODID as preStorage_goodsID,
			ps.PRE_CUSTOMERID as preStorage_customerID,
			ps.PRE_REPOSITORYID as preStorage_repositoryID,
			ps.PRE_NUMBER as preStorage_number,
			ps.PRE_STORAGE as preStorage_storage,
			p.PACKET_TRACE as preStorage_packetTrace,
			p.PACKET_STATUS as preStorage_packetStatus,
			g.GOOD_NAME as preStorage_goodsName,
			cus.CUSTOMER_NAME as preStorage_customerName
		from
			wms_packet_storage ps,wms_packet p, wms_goods g, wms_customer cus, wms_repository r
		where
			ps.PRE_PACKETID = p.PACKET_ID and
			ps.PRE_GOODID =  g.GOOD_ID and
			ps.PRE_CUSTOMERID = cus.CUSTOMER_ID and
			ps.PRE_REPOSITORYID = r.REPO_ID
        <if test="trace!=null">
            and p.PACKET_TRACE like concat ('%',#{trace},'%')
        </if>
        <if test="status!=null">
            and p.PACKET_STATUS = #{status}
        </if>
        <if test="repositoryID!=null">
            and ps.PRE_REPOSITORYID = #{repositoryID}
        </if>
    </select>

	<insert id="insert">
		insert into wms_packet_storage(PRE_PACKETID,PRE_GOODID,PRE_CUSTOMERID,PRE_REPOSITORYID,PRE_NUMBER,PRE_STORAGE)
		values(#{packetID},#{goodsID},#{customerID},#{repositoryID},#{number},#{storage})
	</insert>
	
	<update id="update">
		update 
			wms_packet_storage
		set
			PRE_NUMBER = #{number},
			PRE_STORAGE = #{storage}
		where
			PRE_PACKETID = #{packetID} and
			PRE_GOODID = #{goodsID}
		<if test="repositoryID != null">
			and PRE_REPOSITORYID = #{repositoryID}
		</if>
	</update>
	
	<delete id="delete">
		delete from wms_packet_storage
		where
			PRE_PACKETID = #{packetID} and
			PRE_GOODID = #{goodsID}
		<if test="repositoryID!=null">
			and PRE_REPOSITORYID = #{repositoryID}
		</if>
	</delete>
</mapper>