<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="de.demarks.wms.dao.StorageMapper">
	
	<!-- 结果映射 -->
	<resultMap type="de.demarks.wms.domain.Storage" id="storage">
		<id property="goodsID" column="storage_goodsID"/>
		<id property="batchID" column="storage_batchID"/>
		<result property="goodsName" column="storage_goodsName"/>
		<result property="goodsSize" column="storage_goodsSize"/>
		<result property="goodsType" column="storage_goodsType"/>
		<result property="goodsWeight" column="storage_goodsWeight"/>
		<result property="batchCode" column="storage_batchCode"/>
		<result property="repositoryID" column="storage_repositoryID"/>
		<result property="number" column="storage_number"/>
		<!-- 
		<association property="goodsInfo" javaType="com.ken.Goods" resultMap="goods"/>
		 -->
	</resultMap>
	 
	<select id="selectAll" resultMap="storage">
		select
			g.GOOD_ID as storage_goodsID,
			g.GOOD_NAME as storage_goodsName,
			g.GOOD_TYPE as storage_goodsType,
			g.GOOD_SIZE as storage_goodsSize,
			g.GOOD_WEIGHT as storage_goodsWeight,
			b.REPO_BATCH_ID as storage_batchID,
			b.REPO_BATCH_CODE as storage_batchCode,
			r.REPO_ID as storage_repositoryID,
			s.RECORD_NUMBER as storage_number
		from
			wms_goods g, wms_repo_batch b, wms_respository r, wms_record_storage s
		where
		 	s.RECORD_GOODID = g.GOOD_ID and
		 	s.RECORD_BATCHID = b.REPO_BATCH_ID and
		 	s.RECORD_REPOSITORY = r.REPO_ID
			<if test="batchID != null">
				and b.REPO_BATCH_ID = #{batchID}
			</if>
		 	<if test="repositoryID != null">
		 		and r.REPO_ID = #{repositoryID}
		 	</if>
	</select>
	
	<select id="selectByGoodsID" resultMap="storage">
		select
			g.GOOD_ID as storage_goodsID,
			g.GOOD_NAME as storage_goodsName,
			g.GOOD_TYPE as storage_goodsType,
			g.GOOD_SIZE as storage_goodsSize,
			g.GOOD_WEIGHT as storage_goodsWeight,
			b.REPO_BATCH_ID as storage_batchID,
			b.REPO_BATCH_CODE as storage_batchCode,
			r.REPO_ID as storage_repositoryID,
			s.RECORD_NUMBER as storage_number
		from
			wms_goods g, wms_repo_batch b, wms_respository r, wms_record_storage s
		where
			s.RECORD_GOODID = g.GOOD_ID and
			s.RECORD_BATCHID = b.REPO_BATCH_ID and
			s.RECORD_REPOSITORY = r.REPO_ID and
		 	g.GOOD_ID = #{goodsID}
			<if test="batchID != null">
				and b.REPO_BATCH_ID = #{batchID}
			</if>
			<if test="repositoryID != null">
				and r.REPO_ID = #{repositoryID}
			</if>
	</select>
	
	<select id="selectByGoodsName" resultMap="storage">
		select
			g.GOOD_ID as storage_goodsID,
			g.GOOD_NAME as storage_goodsName,
			g.GOOD_TYPE as storage_goodsType,
			g.GOOD_SIZE as storage_goodsSize,
			g.GOOD_WEIGHT as storage_goodsWeight,
			b.REPO_BATCH_ID as storage_batchID,
			b.REPO_BATCH_CODE as storage_batchCode,
			r.REPO_ID as storage_repositoryID,
			s.RECORD_NUMBER as storage_number
		from
			wms_goods g, wms_repo_batch b, wms_respository r, wms_record_storage s
		where
			s.RECORD_GOODID = g.GOOD_ID and
			s.RECORD_BATCHID = b.REPO_BATCH_ID and
			s.RECORD_REPOSITORY = r.REPO_ID and
		 	g.GOOD_NAME like concat("%",concat(#{goodsName},"%"))
			<if test="batchID != null">
				and b.REPO_BATCH_ID = #{batchID}
			</if>
			<if test="repositoryID != null">
				and r.REPO_ID = #{repositoryID}
			</if>
	</select>

	<insert id="insert">
		insert into wms_record_storage
		(
			RECORD_GOODID,
			RECORD_BATCHID,
			RECORD_REPOSITORY,
			RECORD_NUMBER
		)
		values
		(
			#{goodsID},
			#{batchID},
			#{repositoryID},
			#{number}
		)
	</insert>

	<update id="update">
		update 
			wms_record_storage
		set
			RECORD_GOODID = #{goodsID},
			RECORD_BATCHID = #{batchID},
			RECORD_REPOSITORY = #{repositoryID},
			RECORD_NUMBER = #{number}
		where
			RECORD_GOODID = #{goodsID} and
			RECORD_BATCHID = #{batchID} and
			RECORD_REPOSITORY = #{repositoryID}
	</update>

	<insert id="insertBatch">
		insert into wms_record_storage(RECORD_GOODID,RECORD_BATCHID,RECORD_REPOSITORY,RECORD_NUMBER)
		values
		<foreach collection="list" item="storage" separator=",">
			(
			#{storage.goodsID},#{storage.batchID},#{storage.repositoryID},#{storage.number})
		</foreach>
	</insert>
	
	<delete id="delete">
		delete from
			wms_record_storage
		where
			RECORD_GOODID = #{goodsID} and
			RECORD_BATCHID = #{batchID} and
			RECORD_REPOSITORY = #{repositoryID}
	</delete>

</mapper>